{% load static%}
<!DOCTYPE html>

<html lang="eng">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, inital-scale=1.0">
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    {% block title %}
    {% endblock %}
  </title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <img src="/static/images/site_logo_py.png" width="60" height="60" alt="Лого сайта">
  <a class="navbar-brand text-light ml-5" href="{% url 'main_page' %}">Главная страница</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link text-light" href="{% url 'posts_list_url' %}">Блог питониста <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" href="#"></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link text-light" href="{% url 'my_works_list' %}">Мои работы</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" href="{% url 'subjects_list' %}">Материалы по КПИ</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" action="{% url 'posts_list_url' %}">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search">
      <button class="btn btn-light" type="submit">Search</button>
    </form>
  </div>
</nav>


    {% block content %}
    {% endblock %}


{% block contacts %}
<footer class="page-footer font-small">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase">Дорогие читатели ||| Dear guests</h5>
        <p>Задать вопрос или заказать работу Вы можете по этим контактам: <br><br>
            You can ask a question or order a job at these contacts: </p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Мои контакты</h5>

        <ul class="list-unstyled">
          <li>
            <a href="https://t.me/Alexey_Horbunov">Me on Telegram</a>
          </li>
          <li>
              <p>Email - algoritm211@gmail.com</p>
          </li>
        </ul>


      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020-2020 Alexey Horbunov
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
{% endblock %}

{% if request.user.is_authenticated and request.user.is_staff %}
  <div class="admin-panel align-items-center">
    <a href="/admin" class="btn btn-outline-info">Admin</a>
    {% block admin-panel %}
        <div class="btn-group">
          <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Создать
          </button>
            <div class="dropdown-menu">
              <h6 class="dropdown-header">Выберите то, что бы вы хотели создать</h6>
              <a class="dropdown-item" href="{% url 'post_create_url' %}">Пост в блоге</a>
              <a class="dropdown-item" href="{% url 'tag_create_url' %}">Тэг для поста в блоге</a>
              <a class="dropdown-item" href="{% url 'create_subject' %}">Предмет</a>
            </div>
          </div>

        <a href="{{ admin_object.get_update_url }}" class="btn btn-light edit" style="{% if detail %} display: block; {% endif %}">Обновить</a>
        <a href="{{ admin_object.get_delete_url }}" class="btn btn-danger delete" style="{% if detail %} display: block; {% endif %}">Удалить</a>
    {% endblock %}
  </div>
{% endif %}
</body>
</html>