{% extends 'main/posts_list.html' %}

{% block title %}
    Удалить пост "{{ post.title | title }}"
{% endblock %}

{% block content %}
<div class="col-6 offset -md-2 mt-5" style="margin-left: auto; margin-right: auto;">
    <form action="{{ post.get_delete_url }}" method="post">
        {% csrf_token %}
        <h3><b>Вы уверены, что хотите удалить пост "{{ post.title | title }}"?</b></h3>
        <a href="{{ post.get_absolute_url }}" class="btn btn-info mb-5 mr-3 mt-5"> Нет, вернуться обратно </a>
        <button type="submit" name="button" class="btn btn-danger mb-5 mt-5"> Удалить </button>

    </form>
</div>

{% endblock %}