{% extends 'main/posts_list.html' %}

{% block title %}
Новый пост
{% endblock%}

{% block content %}
<div class="col-6 offset -md-2 mt-5" style="margin-left: auto; margin-right: auto;">

    <form action="{% url 'post_create_url' %}" method="post" >
        {% csrf_token %}

        {% for field in form  %}
             <div class="form-group">
                 {% if field.errors %}
                  <div class="alert alert-danger">
                      {{ field.errors }}
                  </div>
                 {% endif %}
                 {{ form.media }}
                {{ field.label }}
                 {{ field }}
             </div>
        {% endfor %}
        <button type="submit" class="btn btn-dark mb-5"> Создать пост </button>
    </form>
</div>
{% endblock %}